@keyframes smallBoxes{

    0%{
        background-color: Blue ;
    }

    25%{
        background-color: green;
    }

    50%{
        background-color: red;
    }

    75%{
        background-color: yellow;
    }

    100%{
        background-color: blue;
    }

}


@keyframes tinyBoxes{

    0%{
        background-color: red ;
    }

    25%{
        background-color: blue;
    }

    50%{
        background-color: green;
    }

    75%{
        background-color: purple;
    }

    100%{
        background-color: red;
    }

}


@keyframes mediumBoxes{

    0%{
        background-color: green ;
    }

    25%{
        background-color: purlpe;
    }

    50%{
        background-color: blue;
    }

    75%{
        background-color: red;
    }

    100%{
        background-color: green;
    }

}
