*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    position: relative;
}

.container{
    display: grid;  
    grid-template-columns: repeat(5, 1fr);    
    grid-auto-rows: 200px;
}

.tiny{
    height: 150px;
    background-color: red;
    animation: tinyBoxes 7s ease 2s infinite forwards ;
}

.small{
    height: 180px;
    background-color: blue;
    animation: smallBoxes 7s ease 2s infinite forwards ;
}  

.medium{
    height: 210px;
    background-color: green;
}

.big{
    height: 240px;
    background-color: purple;
}

.large{
    height: 270px;
    background-color: darkorange;
}